body{
    background-color: aquamarine;
    font-size: 5px;
    font-family:'Times New Roman', Times, serif;
}
button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: maroon;
}
h1{
    font-size: 2px;
}